*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    height: 1000px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
}
.user-details {
    background-color:#1f6050fe;
    margin: 0 480px 0 480px;
    padding-bottom: 20px;
    border-radius: 6px;
}
.user-info {
    text-align: center;
}
.img {
    width: 100%;
}
.img img {
    width: 150px;
    margin-top: 10px;
    border-radius: 30%;
    box-shadow:0 0 4px rgba(0,0,0,0.7) ;
}
.user h1 {
    color: #fff;
    font-weight: 700;
    margin: 10px 0 10px 0;
    text-shadow: 0 0 4px rgba(0,0,0,0.5);
}
strong {
    color: #fff;
    font-weight: 700;
    text-shadow: 0 0 4px rgba(0,0,0,0.5);
}
span {
    color: #fff;
}
.remove {
    padding-top: 30px;
    text-align: center;
}
.head {
    width: 100%;
    padding: 10px 8px 10px 10px;
    border-radius: 4px;
    text-align: center;
}
.head h4 {
    font-weight: 300;
}
.btn-see {
    margin-top: 8px;
    display: inline-block;
    background-color: darkturquoise;
    border: none;
    color: #fff;
    padding: 10px 26px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
    border: 1px solid darkturquoise;
}
.btn-see:hover {
    background-color: #fff;
    color: darkturquoise;
}
.default-btn {
    margin-top: 8px;
    display: inline-block;
    background-color: darkturquoise;
    border: none;
    color: #fff;
    padding: 10px 26px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
    border: 1px solid darkturquoise;
}
.default-btn:hover {
    background-color: #fff;
    color: darkturquoise;
}
.balance-section {
    padding-top: 80px;
}
.title {
    text-align: center;
    margin-bottom: 30px;
    background-color: dodgerblue;
    padding: 15px 0 ;
    border-radius: 4px;
}
.title h1{
    color: #fff;
}
.row {
    display: flex;
    justify-content: space-between;
    gap: 26px;
}
.withdraw {
    background-color: #2E5077;
    width: 33.33%;
    padding: 20px 36px;
    border-radius: 5px;
}
.withdraw p {
    margin-bottom: 15px;
    color: #fff;
}
.withdraw h2 {
    color: #fff;
}
.deposit {
    background-color: #4B5945;
    width: 33.33%;
    padding: 20px 36px;
    border-radius: 5px;
}
.deposit h2 {
    color: #fff;
}
.deposit p {
    color: #fff;
    margin-bottom: 15px;
}
.main  {
    background-color: #605EA1;
    width: 33.33%;
    padding: 20px 36px;
    border-radius: 5px;
}
.main p {
    color: #fff;
    margin-bottom: 15px;
}
.main h2 {
    color: #fff;
}

.field-section {
    padding-top: 50px;
}
.field-row {
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.withdraw-area {
    background-color: #044a72;
    padding: 24px 16px;
    border-radius: 4px;
}
.withdraw-area p {
    color: #fff;
    font-size: 16px;
    margin-bottom: 18px;
}
.input {
    margin-bottom: 10px;
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 4px;
}
.btn-3 {
    text-align: center;
    display: inline-block;
    padding: 8px 12px;
    border-radius: 3px;
    border: none;
    outline: none;
    background-color: rgb(224, 126, 28);
    color: #fff;
    cursor: pointer;

}
.deposit-area {
    background-color: #387478;
    padding: 24px 16px;
    border-radius: 4px;
}
.deposit-area p {
    color: #fff;
    font-size: 16px;
    margin-bottom: 18px;
}
.btn-4 {
    text-align: center;
    display: inline-block;
    padding: 8px 12px;
    border-radius: 3px;
    border: none;
    outline: none;
    background-color: rgb(224, 126, 28);
    color: #fff;
    cursor: pointer;
}
.anchor {
    margin-top: 75px;
    text-align: center;
}
.anchor a{
    display: inline-block;
    text-decoration: none;
    background-color: cornflowerblue;
    color: #fff;
    padding: 10px 30px;
    border-radius: 6px;
    border: 2px solid cornflowerblue;
    transition: 0.5s;
    font-weight: 600;
}
.anchor a:hover{
    background-color: #fff;
    color: cornflowerblue;
}